*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.apk

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Auto-generted files
src/bin/R.txt
src/gen/*
src/bin/classes.dex
src/bin/MusicQuiz.apk
R.java